/*Assignment1-ResumeSite-David He-300844568-Sept 24th 2016*/

div.on-page-nav
{
    float:left;
    width:50%;
    text-align:center;

}
div.cv-list
{
    float:left;
    width:33%;
    text-align:center;
}
ul.cv-list
{
    text-align:left;
}
a.on-page-nav
{
    color:black; 
    text-decoration:none;
}
img.on-page-nav
{
    padding-left:35px; 
    padding-right:35px;
}
img.contactimgs
{
    padding-left:20px;
    padding-right:20px;
}

button.contactform
{
    margin-left:5px;
    margin-right:5px;
}


